<!-- Services page -->

<section id="services">
    <div class="container" style="padding-bottom: 0px;">
        <div class="row text-center">
            <p class="lead">The way we do things is rapidly changing. Technology has empowered people to have positive
                impacts on their lives and their communities. What if governments and government services did the same
                with accessible, easy to use, and effective software? LSF is on a mission to make governments work
                better for you in today’s digital age. </p>
        </div>
    </div>
</section>


<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Code for Sri Lanka</h2>
                <h3 class="section-subheading text-muted">
                    LSF is helping the Government of Sri Lanka architect, build and deploy technology to improve
                    governance and the quality of services provided to citizens.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Partnerships</h4>
                <p class="text-muted"> Partner with government to create scalable and secure open source solutions </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Digital Solutions</h4>
                <p class="text-muted">Help various government organizations architect proper digital solutions for
                    themselves in alignment with the long-term goals of a digital Sri Lanka.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Global Enablement</h4>
                <p class="text-muted">Enable organizations to build open source software solutions that can be taken to
                    other countries. </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center" style="padding-top: 100px;">
            <p class="lead">Code for Sri Lanka also envisions working with organizations beyond the government to help
                improve the country’s operations and governance.</p>
                <a href="/work" class="page-scroll btn btn-primary">Learn More</a>
        </div>
    </div>
</section>